/*reset*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400&display=swap');
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    font: 1.6rem 'Balsamiq Sans', sans-serif;
    margin: 0;
}
h1,h2,h3,h4,h5,h6,p,figure,ul,ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    color: #222;
    text-decoration: none;
}
*{
    box-sizing: border-box;
}
button{
    padding: 0;
    border: 0;
    background-color: transparent;
}
/*header*/

header{
    margin: 0 auto;
    height: 9rem;
    position: fixed;
    width: 100%;
    z-index: 5;
    display: flex;
    background-color: #f5f5f7;
    border-bottom: solid .5rem  #dbdbdb;
    font-family: 'Balsamiq Sans';
    font-weight: 400;

}
header img{
    transform: scale(0.8);
}
header hr{
    display: inline-block;
    color: rgba(34, 34, 34, 0.589);
}
header nav{
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    justify-content: space-between;
}
header nav .menu{
    display: none;
}
header h1{
    display: flex;
    padding: 1rem;
    max-width: 40rem;
    justify-content: end;
}
header .C{
    align-items: flex-end;
    padding: 0.6rem;
    font-size: 1.7rem;
    display: flex;
}
header nav .nav{
    display: flex;
    width: 100%;
    padding: 1rem;
    justify-content: space-between;
    white-space: nowrap;

}
header nav .nav li{
    display: flex;
    padding: 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
header nav .nav li a{
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    transition: 0.3s ease-in-out;
}
header nav .nav li a:hover{
    transform: translateY(-0.6rem) scale(1.07);
    transition: 0.3s ease-in-out;
    color: #fa941f;
    border-bottom: solid .2rem #fa941f  ;
}
/*main*/
main{
    display: grid;
    grid-template-columns: 80rem 2fr;
    max-width: 100rem;
    margin: 0 auto;
    padding: 13rem 1.5rem 1.5rem 1.5rem;
}
main .info{
    max-width: 90rem;
    text-align: justify;
    padding: 3rem;
    margin: 5rem auto;
    border-radius: 2rem;
    box-shadow: .2rem .2rem 1rem rgba(34, 34, 34, 0.473);
    border: solid .1rem rgba(73, 73, 73, 0.301);
}
main ul{
    max-width: 70rem;
    text-align: justify;
    padding: 8rem 5rem 8rem 5rem;
}
main ul li:first-child{
    padding-top: 0;
}
main ul li:last-child{
    padding-top: 5rem;
    color: #eb8919;
}
main ul li{
    padding-top: 3.5rem;
    align-items: center;
}
main ul li img{
    display: flex;
    margin: 0 auto;
    padding-top: 10rem;
    padding-left: 5rem;
    transform: scale(1.3);
}   















/*footer*/

footer{
    margin-top: 5rem;
}
footer p{
    margin: 0 auto;
    color: #222;
    padding: 2rem;
    max-width: 50rem;
    text-align: center;
    font-size: 1.8rem;
    line-height: 1.8em;
    letter-spacing: 0.261em;
    font-weight: 400;
}
footer a{
    margin: 0 auto;
    max-width: 10rem;
    display: block;
    padding-bottom: 3rem;
}
footer hr{
    max-width: 20rem;
}
footer hr:first-child{
    max-width: 96%;
}
footer p{
    letter-spacing: 0.08em;
}
footer img:hover{
    transition: 0.4s ease-in-out;
    transform: scale(1.1);
}
footer hr{
    width: 29rem;
}
footer hr:first-child{
    width: 49rem;
}
footer img{
    padding: 2rem;
    max-width: 10rem;
    display: block;
    cursor: pointer;
    margin: 0 auto;
}

@media screen and (max-width: 80.0rem){ 
    header h1{
        font-size: 2rem;
        display: block;
        position: sticky;
        top: 0%;
    }
    header .C{
        display: inline-block;
        padding: 0rem;
        font-size: 1.5rem;
        line-height: none;
    }
    header img{
        position: absolute;
        left: 55%;
        top: 10%;
        margin: 0 auto;
        max-width: 8rem;
    }
    header{
        display: inline-block;
        height: auto;
        max-width: 100%;
        position: sticky;
    }
    header nav .nav{
        display: none;
    }
    header nav .menu{
        display: block;
        position: absolute;
        top: 30%;
        left: 85%;
        font-size: 3rem;
        cursor: pointer;
    }
    header hr{
        display: none;
    }

    /*navigation*/

    .navi{
        position: absolute;
        background: rgba(109, 109, 109, 0.301);
        display: inline-block;
        padding: 4rem;
        text-align: center;
        width: 100%;
        margin: 0 auto;
        height: auto;
    }
    .navi li{
        padding-top: 6rem;
        
    }
    .navi li:first-child{
        padding-top: 2rem;
    }
    .navi li:last-child{
        padding-bottom: 11rem;
    }
    .navigation{
        display: block;
    }
    .swish{
        display: none;
    }     
    /*main*/
    main{
        padding-top: 16rem;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    main ul li img{
        padding-top: 0rem;
        padding-left: 0rem;
    }
    main ul{
        padding: 0rem;
    }
}