/*reset*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400&display=swap');
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    font: 1.6rem 'Balsamiq Sans', sans-serif;
    margin: 0;
}
h1,h2,h3,h4,h5,h6,p,figure,ul,ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    color: #222;
    text-decoration: none;
}
*{
    box-sizing: border-box;
}
button{
    padding: 0;
    border: 0;
    background-color: transparent;
}
header{
    margin: 0 auto;
    height: 10rem;
    position: fixed;
    width: 100%;
    z-index: 5;
    display: flex;
    background-color: #f5f5f7;
    border-bottom: solid .5rem  #dbdbdb;
    font-family: 'Balsamiq Sans';
    font-weight: 400;

}
header img{
    transform: scale(0.8);
    transform: scaleY(2rem);
}
header hr{
    display: inline-block;
    background-color: rgba(34, 34, 34, 0.295);
}
header nav{
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
}

header .nav{
    max-width: 80rem

}
header h1{
    display: flex;
    padding: 1rem;
    max-width: 40rem;
    justify-content: end;
}
header .C{
    align-items: flex-end;
    padding: 0.6rem;
    font-size: 1.7rem;
    display: flex;
}
header nav ul{
    display: flex;
    width: 100%;
    padding: 1rem;
    justify-content: space-between;
    white-space: nowrap;

}
header nav ul li{
    display: flex;
    padding: 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
header nav ul li a{
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    transition: 0.3s ease-in-out;
}
header nav ul li a:hover{
    transform: translateY(-0.5rem);
    transition: 0.3s ease-in-out;
    color: #28add1;
    border-bottom: solid .2rem #28acd179
}
/*main*/

main{
    max-width: 90rem;
    margin: 0rem auto;
    padding-top: 11rem;
}
main .top{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
main .top h2{
    font-size: 4.5rem;
    font-weight: 400;
    line-height: 7rem;
}
main .top h2 .span .RV{
    font-size: 2rem;
}
main .top img{
    display: flex;
    justify-self: end;
    justify-items: end;
    width: 15rem;
}
main .choice section{
    background-color: #fafafa;
    border: solid 0.1rem rgba(116, 116, 116, 0.171);
    padding: 5rem;
    margin: 1rem auto;
    text-align: center;
}
main .choice section h2{
    padding: 1rem;
    color: #28add1;
}
main .choice section .lire{
    text-decoration: underline;
}
main .choice section p{
    padding: 1rem;
}
main .choice section a:last-child{
    display: inline-block;
    background-color: #f56a56;
    margin: 1rem auto;
    padding: 1rem;
    color: #fff;
}

















/*footer*/

/*footer*/

footer{
    background-color: #f5f5f7;
    margin-top: 5rem;
}
footer p{
    margin: 0 auto;
    color: #222;
    padding: 2rem;
    max-width: 80rem;
    text-align: center;
    font-weight: 800;
}
footer img{
    padding: 2rem;
    width: 10rem;
    display: flex;
    margin: 0 auto;
}

@media screen and (max-width: 40.0rem) { 
    main{
        display: grid;
        grid-template-columns: repeat(1, 1fr)
    }
}