/*reset*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400&display=swap');
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    font: 1.6rem 'Balsamiq Sans', sans-serif;
    margin: 0;
}
h1,h2,h3,h4,h5,h6,p,figure,ul,ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    color: #222;
    text-decoration: none;
}
*{
    box-sizing: border-box;
}
button{
    padding: 0;
    border: 0;
    background-color: transparent;
}
/*header*/

header{
    margin: 0 auto;
    height: 9rem;
    position: fixed;
    width: 100%;
    z-index: 5;
    display: flex;
    background-color: #f5f5f7;
    border-bottom: solid .5rem  #dbdbdb;
    font-family: 'Balsamiq Sans';
    font-weight: 400;

}
header img{
    transform: scale(0.8);
}
header hr{
    display: inline-block;
    color: rgba(34, 34, 34, 0.589);
}
header nav{
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    justify-content: space-between;
}
header nav .menu{
    display: none;
}
header h1{
    display: flex;
    padding: 1rem;
    max-width: 40rem;
    justify-content: end;
}
header .C{
    align-items: flex-end;
    padding: 0.6rem;
    font-size: 1.7rem;
    display: flex;
}
header nav .nav{
    display: flex;
    width: 100%;
    padding: 1rem;
    justify-content: space-between;
    white-space: nowrap;

}
header nav .nav li{
    display: flex;
    padding: 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
header nav .nav li a{
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    transition: 0.3s ease-in-out;
}
header nav .nav li a:hover{
    transform: translateY(-0.6rem) scale(1.07);
    transition: 0.3s ease-in-out;
    color: #fa941f;
    border-bottom: solid .2rem #fa941f  ;
}
/*main*/
main{
    padding-top: 10rem;
    margin: 0 auto;
    max-width: 80rem;
}
main a{
    color: #e59345;
}
main .pre h2{
    padding: 3rem;
    text-align: center;
}
main .pre img{
    max-width: 70rem;
    border-radius: 1rem;
    margin: 0 auto;
    display: block;
    padding: 1rem;
    box-shadow: .2rem .2rem 1rem rgba(34, 34, 34, 0.473);
    border: solid .1rem rgba(73, 73, 73, 0.301);
}
main .pre p{
    font-size: 2rem;
    margin: 0 auto;
    padding: 3rem;
    text-align: center;
}
main section p a{
    color: #ffff;
    text-align: center;
    display: inline-block;
    border-radius: 1rem;
    padding:2rem;
    background-color: #e59345;
    box-shadow: .2rem .2rem 1rem rgba(34, 34, 34, 0.473);
}
main a .f{
    display: inline-block;
    transform: rotate(180deg);
    padding-left: 2rem;
    vertical-align: middle;
    font-size: 4rem;
    color: #e59345;
}
main hr{
    color: rgba(201, 201, 201, 0.527);
    width: 100%;
}
main .info p{
    text-align: justify;
    display: block;
    padding: 2rem;
}
main .info h2{
    padding: 2rem;
}

















/*footer*/

footer{
    margin-top: 5rem;
}
footer p{
    margin: 0 auto;
    color: #222;
    padding: 2rem;
    max-width: 50rem;
    text-align: center;
    font-size: 1.8rem;
    line-height: 1.8em;
    letter-spacing: 0.261em;
    font-weight: 400;
}
footer a{
    margin: 0 auto;
    max-width: 10rem;
    display: block;
    padding-bottom: 3rem;
}
footer img:hover{
    transition: 0.4s ease-in-out;
    transform: scale(1.1);
}
footer hr{
    width: 29rem;
}
footer hr:first-child{
    width: 49rem;
}
footer img{
    padding: 2rem;
    max-width: 10rem;
    display: block;
    cursor: pointer;
    margin: 0 auto;
}

@media screen and (max-width:80.0rem){ 
    header h1{
        font-size: 2rem;
        display: block;
    }
    header .C{
        display: block;
        padding: 0rem;
        font-size: 1.5rem;
    }
    header img{
        display: flex;
        margin: 0 auto;
        max-width: 10rem;
    }
    header{
        display: block;
        height: auto;
        max-width: 100%;
    }
    header nav .nav{
        display: none;
    }
    header nav .menu{
        display: block;
        position: absolute;
        top: 65%;
        left: 80%;
        font-size: 3rem;
        cursor: pointer;
    }
    header hr{
        display: none;
    }
    footer hr{
        max-width: 20rem;
    }
    footer hr:first-child{
        max-width: 96%;
    }
    footer p{
        letter-spacing: 0.08em;
    }

    /*navigation*/

    .navi{
        position: absolute;
        background: rgba(109, 109, 109, 0.301);
        display: inline-block;
        padding: 4rem;
        text-align: center;
        width: 100%;
        margin: 0 auto;
    }
    .navi li{
        padding-top: 6rem;
        
    }
    .navi li:first-child{
        padding-top: 2rem;
    }
    .navi li:last-child{
        padding-bottom: 4rem;
    }
    .navigation{
        display: block;
    }
    .swish{
        display: none;
    }   
    /*main*/
    main{
        padding: 13rem 2rem 2rem 2rem;
    }
    main .pre img{
        max-width: 30rem;
    }
    main a .f{
        padding-right: 2rem;
    }
    main hr{
        max-width: 30rem;
    }

    
}