/*reset*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400&display=swap');
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    font: 1.6rem 'Balsamiq Sans', sans-serif;
    margin: 0;
}
h1,h2,h3,h4,h5,h6,p,figure,ul,ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    color: #222;
    text-decoration: none;
}
*{
    box-sizing: border-box;
}
button{
    padding: 0;
    border: 0;
    background-color: transparent;
}
header{
    margin: 0 auto;
    height: 10rem;
    position: fixed;
    width: 100%;
    z-index: 5;
    display: flex;
    background-color: #f5f5f7;
    border-bottom: solid .5rem  #dbdbdb;
    font-family: 'Balsamiq Sans';
    font-weight: 400;

}
header img{
    transform: scale(0.8);
    transform: scaleY(2rem);
}
header hr{
    display: inline-block;
    background-color: rgba(34, 34, 34, 0.295);
}
header nav{
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
}

header .nav{
    max-width: 80rem

}
header h1{
    display: flex;
    padding: 1rem;
    max-width: 40rem;
    justify-content: end;
}
header .C{
    align-items: flex-end;
    padding: 0.6rem;
    font-size: 1.7rem;
    display: flex;
}
header nav ul{
    display: flex;
    width: 100%;
    padding: 1rem;
    justify-content: space-between;
    white-space: nowrap;

}
header nav ul li{
    display: flex;
    padding: 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
header nav ul li a{
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    transition: 0.3s ease-in-out;
}
header nav ul li a:hover{
    transform: translateY(-0.5rem);
    transition: 0.3s ease-in-out;
    color: #28add1;
    border-bottom: solid .2rem #28acd179
}
/*main*/
main{
    padding-top: 10rem;
    margin: 0 auto;
    max-width: 80rem;
}
main a{
    color: #28add1;
}
main .pre h2{
    padding: 3rem;
    text-align: center;
}
main .pre img{
    max-width: 70rem;
    display: block;
    border-radius: 1rem;
    padding: 2rem;
    margin: 0 auto;
}
main .pre p{
    font-size: 2rem;
    padding: 3rem;
    text-align: center;
}
main section p a{
    color: #ffff;
    text-align: center;
    display: inline-block;
    padding:2rem;
    background-color: #28add1;
}
main a .f{
    display: inline-block;
    transform: rotate(180deg);
    padding-left: 2rem;
    vertical-align: middle;
    font-size: 4rem;
    color: #28add1;
}
main hr{
    color: rgba(201, 201, 201, 0.527);
    width: 100%;
}
main .info p{
    text-align: justify;
    display: block;
    padding: 2rem;
}
main .info h2{
    padding: 2rem;
}

















/*footer*/

footer{
    background-color: #f5f5f7;
    margin-top: 5rem;
}
footer p{
    margin: 0 auto;
    color: #222;
    padding: 2rem;
    max-width: 50rem;
    text-align: center;
    font-weight: 800;
}
footer a{
    margin: 0 auto;
    max-width: 10rem;
    display: block;
}
footer img{
    padding: 2rem;
    max-width: 10rem;
    display: block;
    cursor: pointer;
    margin: 0 auto;
}