/*reset*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400&display=swap');
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    font: 1.6rem 'Balsamiq Sans', sans-serif;
    margin: 0;
}
h1,h2,h3,h4,h5,h6,p,figure,ul,ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    color: #222;
    text-decoration: none;
    
}
*{
    box-sizing: border-box;
}
button{
    padding: 0;
    border: 0;
    background-color: transparent;
}

/*header*/

header{
    margin: 0 auto;
    height: 9rem;
    position: fixed;
    width: 100%;
    z-index: 5;
    display: flex;
    background-color: #f5f5f7;
    border-bottom: solid .5rem  #dbdbdb;
    font-family: 'Balsamiq Sans';
    font-weight: 400;

}
header img{
    transform: scale(0.8);
}
header hr{
    display: inline-block;
    color: rgba(34, 34, 34, 0.589);
}
header nav{
    display: flex;
    max-width: 100%;
    margin: 0 auto;
    justify-content: space-between;
}
header nav .menu{
    display: none;
}
header h1{
    display: flex;
    padding: 1rem;
    max-width: 40rem;
    justify-content: end;
}
header .C{
    align-items: flex-end;
    padding: 0.6rem;
    font-size: 1.7rem;
    line-height: 0;
    display: flex;
}
header nav .nav{
    display: flex;
    width: 100%;
    padding: 1rem;
    justify-content: space-between;
    white-space: nowrap;

}
header nav .nav li{
    display: flex;
    padding: 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
header nav .nav li a{
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    transition: 0.3s ease-in-out;
}
header nav .nav li a:hover{
    transform: translateY(-0.6rem) scale(1.07);
    transition: 0.3s ease-in-out;
    color: #fa941f;
    border-bottom: solid .2rem #fa941f  ;
}
/*main*/
main{
    margin: 0 auto;
    max-width: 95%;
    display: block;
    padding-top: 10.5rem;
}
main .first .bvn img{
    max-width: 15rem;
    display: flex;
    margin: 0 auto;
    
    justify-content: center;
}
main .first .bvn{
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
    
}
main .first .bvn .bvn1{
    text-align: justify;
    background-color: #fafafa;  
    
    background-color: #ffbf6b;
    box-shadow: .2rem .2rem 1rem rgba(34, 34, 34, 0.473);
    border-radius: 1rem;
    padding: 1rem;
    
}
main .first .bvn .bvn1{
    padding-bottom: 3rem;
    max-width: 50rem;
    font-weight: 400;
}
main .first .bvn .bvn1 li a{
    border: solid 0.1rem #222;
    background-color: #e59345;
    padding: 2rem;
    display: block;
    max-width: 60%;
    margin: 0 auto;
    text-align: center;
    color:#0F0F0F;
}
main .first .bvn h2{
    text-align: center;
    
}
main .first .bvn .bvn1 li{
    padding: 3rem;
}
main .first .bvn2 li{
    padding: 1rem;
    
}
main .first .bvn2 li img{
    max-width: 47rem;
    border-radius: 1rem;
    box-shadow: .2rem .2rem 1rem rgba(34, 34, 34, 0.473);
    border: solid .2rem rgba(34, 34, 34, 0.342);
}
main .first .bvn2{
    justify-self: start;
}
/*Service*/
main .second .serv1{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
main .second .serv{
    padding-top: 10rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
main .second .serv .serv1{
    box-shadow: .2rem .2rem 1rem rgba(34, 34, 34, 0.473);
    background-color: rgb(246, 255, 124);
    border-radius: 1rem;
    max-width: 50rem;
}
main .second .serv .serv1 li h2{
    text-align: center;
    color: #222;
    padding-top: 3rem;
    padding-bottom: 1rem;
    font-weight: 400;
    font-size: 3.5rem;
}
main .second .serv .serv1 li img{
    margin: 0 auto;
    padding-top: 3rem;
    display: flex;
}
main .second .serv .serv2 .ani img{
    max-width: 25rem;
    transform: translateY(-2rem);
    display: block;
    margin: 0 auto;
}
main .second .serv .serv2{
    display: grid;
    padding: 5rem;
    padding-top: 3rem;
    grid-template-columns: repeat(2, 1fr);
}
main .second .serv ul li h2{
    padding-bottom: 3rem;
    font-size: 2rem;
    font-weight: 400;
}
main .second .serv ul li{
    padding: 2rem;
}
main .second .serv ul li p{
    text-align: justify;
    
}
main .second .serv ul li h2 .material-icons{
    color: #cc2f2f;
    transform: translateY(.4rem);
    padding-right: 2rem;

}

/*page 3*/
main .third{
    padding-top: 10rem;
    z-index: 4;
}
main .third ul{
    display: grid;
    background-color: #ffbf6b;
    margin: 0rem auto;
    max-width: 100%;
    grid-template-columns: 50rem 3fr;
    padding: 3rem;
    border-radius: 1rem;
    box-shadow: .2rem .2rem 1rem rgba(34, 34, 34, 0.473);
}
main .third ul li h1{
    display: block;
    font-weight: 400;
    text-align: end;
    padding-right: 10rem;
}
main .third ul li p{
    max-width: 75rem;
    text-align: justify;
}
main .third ul li{
    padding-top: 3rem;
    padding-bottom: 4rem;
}

main .third .carré{
    width: 6rem;
    z-index: 2;
    position: absolute;
    left: 40%;
    opacity: 30%;
    animation: carré 20s linear infinite;
}
@keyframes carré{
    0%{
        transform: translateY(0rem) rotate(0deg);
    }
    30%{
        transform: translateY(20rem) rotate(180deg);
    }
    70%{
        transform: translateY(40rem) rotate(360deg);
    }
    100%{
        transform:translateY(63rem) rotate(480deg);;
    }
}
main .third .triangle{
    width: 10rem;
    z-index: 2;
    position: absolute;
    left: 20%;
    opacity: 30%;
    animation: triangle 10s linear infinite;
}
@keyframes triangle{
    0%{
        transform: translateY(0rem) rotate(0deg);
    }
    30%{
        transform: translateY(20rem) rotate(180deg);
    }
    70%{
        transform: translateY(40rem) rotate(360deg);
    }
    100%{
        transform:translateY(63rem) rotate(480deg);;
    }
}
main .third .hexagone{
    width: 4rem;
    z-index: 2;
    position: absolute;
    left: 60%;
    opacity: 30%;
    animation: hexagone 30s linear infinite;
}
@keyframes hexagone{
    0%{
        transform: translateY(0rem) rotate(0deg);
    }
    30%{
        transform: translateY(25rem) rotate(180deg);
    }
    70%{
        transform: translateY(49rem) rotate(360deg);
    }
    100%{
        transform:translateY(63rem) rotate(480deg);;
    }
}

/*page 4*/

main .fourth{
    display: grid;
    margin: 0 auto;
    padding-top: 10rem;
    max-width: 100%;
    grid-template-columns: 50rem 3fr;
}
main .fourth h1{
    justify-self: end;
    padding: 5rem;
}
main .fourth .info{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
main .fourth .info section ul li p{
    padding: 2rem;
}
main .fourth .info section{
    text-align: center;
    padding: 3rem;
}
main .fourth .info{
    background-color: #eeeeee;
    border-radius: 1rem;
    box-shadow: .2rem .2rem 1rem rgba(34, 34, 34, 0.473);
}
main .fourth .info section img{
    padding: 2rem;
}
main .fourth .info section p{
    padding: 1rem;
}
main .fourth .info section ul li img{
    display: flex;
    padding-top: 3rem;
    margin: 0 auto;
    max-width: 20rem;
}
main .formu fieldset{
    border: transparent;
    border-radius: 1rem;
    padding: 2rem;
}
main .formu fieldset legend{
    margin: 0 auto;
    font-size: 2rem;
    text-align: center;
}
main .formu .test{
    display: grid;
    grid-template-columns: 40rem 2fr;
    max-width: 100rem;
}

main .formu{
    padding-top: 3rem;
    display: grid;
    grid-template-columns: 50rem 3fr;
} 
main .formu fieldset form input{
    margin: 0.3rem;
    display:inline-block;
    max-width: 99%;
    padding: 1.2rem;
    border-radius: 1rem;
    box-shadow: .2rem .2rem 1rem rgba(34, 34, 34, 0.473);
    border: none;
}
main .formu fieldset form .msg input{
    display: block;
    overflow: hidden;
    height: 17vh;
    padding-left: 1rem;
}
main .formu fieldset form .msg{
    padding-left: 2rem;
}
main .formu fieldset form .NES input, main .formu fieldset form .msg input{
    width: 100%;
}
main .formu fieldset .input{
    background-color: #f39d4c;
    border: 0;
    border-radius: 1rem;
    box-shadow: .2rem .2rem 1rem rgba(34, 34, 34, 0.473);
    margin: 1rem;
    left: 83%;
    position: relative;
    display: flex;
    font: 1.6rem 'Balsamiq Sans', sans-serif;
    padding: 1.5rem 4rem 1.5rem 4rem;
    cursor: pointer;
}
main .formu fieldset .input:hover{
    background-color: #ffbf6b;
}

main .bye{
    padding: 2rem;
    margin: 0 auto;
}
main .bye img{
    margin: 0 auto;
    max-width: 45rem;
    display: flex;
    padding: 2rem;
}
main .bye h2{
    padding-top: 1rem;
    text-align: center;
    letter-spacing: 2.4rem;
    font-size: 4rem;
}

/*navigation*/



/*nuit/jour*/

/*Nuit*/

main .night{
    position: sticky;
    max-width: 3.5rem;
    background-color: #dbdbdb;
    left: 96%;
    top: 13%;
    z-index: 6;
    border-radius: 0rem 0rem 1rem 1rem;
    color: #222;
    text-align: right;
    cursor: pointer;
    display: none;
}

.switch-accessibility{
    background-color: #222;
    color: #fff;
}



/*footer*/

footer{
    margin-top: 5rem;
    max-width: 95%;
    margin: 0 auto;
}
footer p{
    margin: 0 auto;
    color: #222;
    padding: 2rem;
    max-width: 50rem;
    text-align: center;
    font-size: 1.8rem;
    line-height: 1.8em;
    letter-spacing: 0.261em;
    font-weight: 400;
}
footer a{
    margin: 0 auto;
    max-width: 10rem;
    display: block;
    padding-bottom: 3rem;
}
footer img:hover{
    transition: 0.4s ease-in-out;
    transform: scale(1.1);
}
footer hr{
    width: 29rem;
    
}
footer hr:first-child{
    width: 49rem;
}
footer img{
    padding: 2rem;
    max-width: 10rem;
    display: block;
    cursor: pointer;
    margin: 0 auto;
}

@media screen and (max-width: 80.0rem){ 
    header h1{
        font-size: 2rem;
        display: block;
    }
    header .C{
        display: inline-block;
        padding: 0rem;
        line-height: none;
    }
    header img{
        display: flex;
        margin: 0 auto;
        max-width: 10rem;
    }
    header{
        display: block;
        height: auto;
        max-width: 100%;
    }
    header nav .nav{
        display: none;
    }
    header nav .menu{
        display: block;
        position: absolute;
        top: 65%;
        left: 80%;
        font-size: 3rem;
        cursor: pointer;
    }
    header hr{
        display: none;
    }

    /*navigation*/

    .navi{
        position: absolute;
        background: rgba(109, 109, 109, 0.301);
        display: inline-block;
        padding: 4rem;
        text-align: center;
        width: 100%;
        margin: 0 auto;
    }
    .navi li{
        padding-top: 6rem;
        
    }
    .navi li:first-child{
        padding-top: 2rem;
    }
    .navi li:last-child{
        padding-bottom: 11rem;
    }
    .navigation{
        display: block;
    }
    .swish{
        display: none;
    }   
    /*main*/
    main{
        padding: 16rem .5rem .5rem .5rem;
        max-width: 100%;
    }
    main .second .serv .serv2{
        padding: 0;
    }
    main .first .bvn2 li img{
        max-width: 90%;
        display: flex;
        margin: 0 auto;
    }
    main .first .bvn ,main .second, main .third, main .fourth{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    main .second .serv, main .second .serv .serv1, main .second .serv .serv2{
        display: grid;
        grid-template-columns: repeat(1, 1fr)
    }
    main .third ul{
        display: grid;
        grid-template-columns: repeat(1, 1fr)
    }
    main .third ul li h1{
        text-align: center;
        padding: 0;
    }
    main .second .serv .serv1{
        box-shadow: .2rem .2rem 1rem rgba(34, 34, 34, 0.473);
        background-color: rgb(246, 255, 124);
        border-radius: 1rem;
        max-width: 100%;
    }
    main .fourth h1{
        text-align: center;
        margin: 0 auto;
    }
    main .first .bvn .bvn1{
        padding-bottom: 3rem;
        max-width: 100%;
        font-weight: 400;
    }
    main .fourth .info{
        display: grid;
        grid-template-columns: repeat(1, 1fr)
    }
    main .formu .test, main .formu{
        display: grid;
        grid-template-columns: repeat(1, 1fr)
    }
    main .bye img{
        max-width: 100%;
    }
    main .second .serv1{
        max-width: 100%;
    }
    main .first, main .second, main .third, .main.fourth{
        padding-top: 4rem;
    }
    main .second .serv .serv2 .ani img{
        max-width: 20rem;
        display: flex;
    }
    main .fourth section img{
        max-width: 25rem;
    }
    main .formu fieldset .input{
        left: 25%
    }
    main .formu fieldset form .msg{
        padding-left: 0rem;
    }
    main .bye h2{
        letter-spacing: -0.021rem;
    }
    footer hr{
        max-width: 20rem;
    }
    footer hr:first-child{
        max-width: 96%;
    }
    footer p{
        letter-spacing: 0.08em;
    }
}